torch==1.12.1 # pip install torch --extra-index-url https://download.pytorch.org/whl/cu113
torchaudio==0.12.1
torchvision==0.13.1
pytorch-lightning==1.6.5
numpy 
sklearn
pytorch_msssim
monai
torchmetrics
torch-fidelity
torchio 
pillow
einops
matplotlib
pandas 
lpips