torch==1.11.0 # pip install torch --extra-index-url https://download.pytorch.org/whl/cu113
torchaudio==0.11.0
numpy 
sklearn
pytorch-lightning==1.6.5
pytorch_msssim
monai
torchmetrics
torch-fidelity
torchio 
pillow
einops
torchvision==0.12.0
matplotlib
pandas 
lpips